body {
    color: #e5e5e5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #003049;
}



.btn-chooser {
    width: 150px;
    height: auto;
    
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eae2b7;
}

button:hover {
    background-color: #fcbf49;
}

.user-input-search{
    width: 300px;
    height: auto;
    padding: 5px;
    border: solid 2px;
}

.srch-btn {
    width: 50px;
    height: auto;
    padding: 5px;
    margin-left: 5px;
}

.user-files, .rename-files {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid;
    width: 49%;
    margin-top: 10px;
    align-items: center;
}

.arrow-gui-pointer {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}


.main-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.rename-btn-section {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 5px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

::placeholder {
    text-align: center; 
 }

ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    margin: 10px;
}

